<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/style.css" rel='stylesheet' type='text/css'/>
    <title>Home</title>

</head>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Y-Blog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/posts">Posts</a></li>
                {% if user %}
                <li><a href="/addpost">Add Post</a></li>
                <li><a href="/profile?username={{user.username}}">Profile</a></li>
                <li><a href="/logout">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<body>
{% block content %}{% endblock %}
</body>
</html>

